@import 'tailwindcss';

@theme {
  --font-gamja: 'Gamja Flower', sans-serif;
  --color-brown-100: oklch(0.32 0.0444 3);
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(181, 179, 179) #f9f9f9;
}

:root {
  background: beige;
}

@layer components {
  .card {
    @apply border border-black w-full h-full rounded-xl flex;
  }

  .btn {
    @apply rounded-xl border p-2 hover:bg-gray-100 cursor-pointer min-w-[60px];
  }

  .bookmark {
    @apply rounded-tl-xl rounded-bl-xl border p-4 pr-6 transform hover:-translate-x-2 transition-all;
  }

  .white-paper {
    @apply flex flex-col space-y-4 lg:space-y-0 lg:space-x-6 lg:flex-row  flex-1 w-full p-4 lg:p-8  rounded-lg min-h-[90%];
  }

  .modal-card {
    @apply relative bg-white p-6 rounded-xl border flex flex-col gap-4 mx-10 w-full shadow-lg;
  }
}
